In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd

In [3]:
news = pd.read_csv('news.csv')
labels = news.label
print(news.shape, labels.shape)
news.head()

(6335, 4) (6335,)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [4]:
# Split into train and test data
x_train, x_test, y_train, y_test = train_test_split(news['text'], labels)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(4751,) (1584,) (4751,) (1584,)

In [7]:
# TfIdfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)
tfidf_train = vectorizer.fit_transform(x_train)
tfidf_test = vectorizer.transform(x_test)


tfidf_train.shape, tfidf_test.shape
tfidf_train[:10,:10]

<10x10 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [30]:
df = pd.DataFrame(tfidf_train.toarray())


df.head()

,0,1,2,3,4,5,6,7,8,9,...,59699,59700,59701,59702,59703,59704,59705,59706,59707,59708
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.042946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.011644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.053247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
# Passive agressive model
pac = PassiveAggressiveClassifier()
pac.fit(tfidf_train,y_train)

# Predict how well it trained
y_pred = pac.predict(tfidf_test)
score = accuracy_score(y_test,y_pred)
print(f"Accuracy: {round(score*100,2)}%")

Accuracy: 94.51%

In [128]:
# Build confusion matrix
m = confusion_matrix(y_test,y_pred, labels=['FAKE','REAL'])

# Format the confusion matrix
x = pd.DataFrame(data=m, columns=['Predicted Fake', 'Predicted Real'])
x.index = ["Actually Fake", "Actually Real"]
x.style

[748  38]

In [35]:
words = ["Covid: Nadhim Zahawi appointed as vaccine rollout minister", "COVID-19: Boris Johnson appoints vaccine minister amid Tory unrest over tier system"]

In [36]:
vectorizer = TfidfVectorizer(stop_words='english')
x = vectorizer.fit_transform(words)

print(type(x))
print(x.shape, len(vectorizer.get_feature_names()))
dfX = pd.DataFrame(x.toarray(), columns=vectorizer.get_feature_names())
dfX.head()

<class 'scipy.sparse.csr.csr_matrix'>
(2, 15) 15

,19,amid,appointed,appoints,boris,covid,johnson,minister,nadhim,rollout,tier,tory,unrest,vaccine,zahawi
0,0.000000,0.000000,0.425677,0.000000,0.000000,0.302873,0.000000,0.302873,0.425677,0.425677,0.000000,0.000000,0.000000,0.302873,0.425677
1,0.324123,0.324123,0.000000,0.324123,0.324123,0.230617,0.324123,0.230617,0.000000,0.000000,0.324123,0.324123,0.324123,0.230617,0.000000